@import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}
html{
    font-size: 15px;
}

:root{
    --main-color: #00a8ff;
    --text-color:#0000;
    --bg-color:white;
    --big-font:3rem;
    --h2-font:2rem;
    --p-font:0.9rem;
}
*::selection{
    background-color: var(--main-color);
    color: #fff;
}
body{
    color: var(--text-color);
    background-color: var(--bg-color);
}
header{
    position: fixed;
    top: 0;
    right: 0;
    width:100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 170px;
    background:#f5f6fa;
    
}
.logo{
    color:var(--main-color);
    font-size: 2.4rem;
    font-weight: 600;
}
.navbar{
    display: flex;
    
}
.navbar a{
    color: var(--text-color);
    font-size: 1.1rem;
    padding: 10px 20px;
    font-weight: 500;
    color: black;
}
.navbar a:hover{
    color: var(--main-color);
    transition: .4s;
}
#menu-icon{
    font-size: 2rem;
    cursor: pointer;
    display: none;
    color: black;
}
section{
    padding: 70px 17%;
}
.home{
    width:100%;
    min-height: 90vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
    align-items: center;
}
.home-img img{
    max-width: 100%;
    width: 600px;
    height: auto;
}
.home-text h1{
    font-size: var(--big-font);
    color: var(--main-color);
}
.home-text h3{
    font-size: var(--h2-font);
    margin: 0.5rem 0 2rem;
    color: black;
}
.btn-mine{
    display: inline-block;
    padding: 10px 20px;
    background: var(--main-color);
    color: #fff;
    border-radius: 0.5rem;
}
.btn-mine:hover{
    transform: scale(1.2) translateY(10px);
    transition: .4s;
}
.about{
    display: grid;
    grid-template-columns: repeat(2,2fr);
    grid-gap: 1.5rem;
    place-items: center;
}
.about-img img{
    max-width: 100%;
    width: 480px;
    height: auto;
}
.about-text span{
    color: var(--main-color);
    font-weight: 600;
}
.about-text h2{
    font-size: var(--h2-font);
    color: black;
}
.about-text p{
    margin: 0.8rem 0 1.8rem;
    line-height: 1.7;
    color: black;
}

@media (max-width:1156px) {
    header{
        padding: 15px 40px;
    }
    :root{
        --big-font:3.5rem;
        --h2-font:2rem;
    }
    
}

@media (max-width:1040px) {
    section{
        padding: 50px 9%;
    }
    #menu-icon{
        display: initial;
        color: var(--text-color);
        color: black;
    }
    header .navbar{
        position: absolute;
        /*min-width: 1100px;*/
        top: -450px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        /*justify-content: space-between;*/
        text-align: center;
        background: #2b2640;
        transition: .3s;
    }
    header .navbar .active{
        top:70px;
    }
    .navbar a{
        padding: 1.5rem;
        display: block;
    }
}

@media (max-width:720px) {
    header{
        /*padding: 4px 16px;*/
        padding: 4px 16px;
    }
    .home{
        width:500px;
        grid-template-columns: 1fr;
        text-align: center;
    }
    .about{
        grid-template-columns: 1fr;
        text-align: center;
    }
    .about-img{
        order: 2;
    }
    section{
        padding: 100px 7%;
    }
}


/* For Contact Page*/

.contact{
    width: 100%;
    height: 100vh;
    display: grid;
    align-items: center;
    background: white;
}
.contact-in{
    width:80%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 0px 10px 0px #666 ;
}
.contact-map{
    width: 100%;
    height: auto;
    flex:50%;
}
.contact-map iframe{
    width: 100%;
    height: 100%;
    flex:50%;
}
.contact-form{
    width: 100%;
    padding: 30px;    
    height: auto;
    flex:50%;
}
.contact-form h1{
    margin-bottom: 10px;
    color: #000;
}
.contact-form-txt{
    width: 100%;
    height: 40px;
    color: #000;
    border: 1px solid #bcbcbc;
    border-radius: 50px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
}
.contact-form-txt::placeholder{
    color: #aaa;
}
.contact-form-txtarea{
    max-width: 250px;
    max-height: 110px;
    color: #000;
    border: 1px solid #bcbcbc;
    border-radius: 30px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
}
.contact-form-txtarea::placeholder{
    color: #aaa;
}
.contact-form-btn{
    width:100%;
    border: none;
    outline: auto;
    border-radius: 50px;
    background: var(--main-color);
    color: #fff;
    text-transform: uppercase;
    padding: 10px 0;
    cursor: pointer;
    font-size: 18px;
}
.footer{
    width:100%;
    height: 40px;
    margin-top: 20px;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer .footer-div .footer-meg{
    color: wheat;
}

@media (max-width:600px) {
    .footer{
        margin-top: 80px;
    }
}
.team h2{
    margin-bottom: 25px;
    color: var(--main-color);
}
.contact h2{
    margin-bottom: 25px;
    color: var(--main-color);
    text-align: center;
}